<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/admin.css" />
  <link rel="icon" href="/images/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Inter&family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
  <title>Area do Administrador</title>
</head>
<body>
  <header>
    <h1 id='title'>Admin de Clientes</h1>
  </header>
  <div id="page-create">
    <aside class="animation-right sidebar">
      <img src="/images/logo-global.png" alt="Perfil" class="logo">
      <div class='menu'>
        <button class="selected" id='buttonMenuCliente' value='clients' onclick="SelectMenu(this)" >Clientes</button>
        <button value='site' id='buttonMenuSite' onclick="SelectMenu(this)">Site</button>
        <button id='buttonMenuUsuario' value='user' onclick="SelectMenu(this)" >Usuário</button>
        <button onclick="window.location.href='/login'" style="background-color: #999;color: #fff;">Sair</button>
      </div>
    </aside>
  </div>


  <main class="disabled animate-appear width-sidebar" id='container-admSite'>
    
    <form id='admSite' method='post' action='/admin/<%= token %>/site/<%= selectedAdmin.username %>'>
      <label for='email'>Email de contato:
        <input type="text" id='email' name='email' onkeypress="validacaoEmail(this)" value='<%= selectedAdmin.email%>'/>
      </label>

      <label for='zap de contato'>Whatsapp de contato:
        <input type="text" id='zap de contato' name='zap' onkeypress="return event.charCode >= 48 && event.charCode <= 57" value='<%= selectedAdmin.number%>'/>
      </label>
      <span>exemplo:5521912345678</span>

      <input type='submit' value='Atualizar' />
    </form>

    <div class='routes'>
      <label for='all'>Rota getAll:
        <div class='group-button'>
          <input  type="text" id='all' name='all' value='/admin/<%= token %>/<%= selectedAdmin.username %>/all' />
          <button onclick='copy("all")'>Copiar</button>
        </div>
        <span>/admin/:token/:username/all</span>
      </label>
      <label for='me'>Rota getMe:
        <div class='group-button'>
          <input type="text" id='me' name='me' value='/admin/<%= token %>/get/<%= selectedAdmin.username %>/:value'/>
          <button onclick='copy("me")'>Copiar</button>
        </div>
        <span>/admin/:token/get/:username/:value</span><br />
        <span>►:value é o ID do cliente</span>
      </label>
    </div>

  </main>




    <main class="animate-appear width-sidebar" id='container-admCliente'>
      
      <form id='admCliente' method='post' action='/admin/<%= token %>/search/<%= selectedAdmin.username %>'>
        <div class="group-consulta">

          <label for='id'>Campo:
            <select name='campo' onclick='selectDisable(this)' >
              <option value='todos' selected>TODOS</option>
              <option value='id'>ID</option>
              <option value='cpf'>CPF</option>
              <option value='celular'>CELULAR</option>
              <option value='email'>EMAIL</option>
              <option value='carreira'>CARREIRA</option>
              <option value='valor_beneficio'>VALOR</option>
              <option value='status'>STATUS</option>
              <option value='servico'>SERVIÇO</option>
            </select>
            <input type='text' name='value' id='value' disabled/>

            <input type='submit' value='Pesquisar' />
          </label>
          
        </div>
      </form>

      
        <section id="transaction">
          <div>
            
            <table id="data-table">
              <thead>
              <tr>
                <th>Criado</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Carreira</th>
                <th>Valor_Beneficio</th>
                <th>Status</th>
                <th>Serviço</th>
                <th>ID</th>
                <th>Ação</th>
              </tr>
              </thead>
              <tbody>
    
    
                <% for(var i=0; i<resultConvert.length; i++) { %>
                  <tr>
                    <form method="post" action="/admin/<%= token%>/alterar/<%= selectedAdmin.username%>/<%= resultConvert[i].id %>">
                      <td id='created_at'>
                        <%= String(resultConvert[i]?.created_at).slice(4, 25 ) %>
                      </td>
    
                      <td><input name='cpf' class='alter-table' type='text' value='<%= resultConvert[i]?.cpf %>'></td>
                      <td><input name='celular' class='alter-table' type='text' value='<%= resultConvert[i]?.celular %>'></td>
                      <td><input name='email' class='alter-table' type='text' value='<%= resultConvert[i]?.email %>'></td>
                      <td><input name='carreira' class='alter-table' type='text' value='<%= resultConvert[i]?.carreira %>'></td>
                      <td > <input name='valor_beneficio' class='alter-table' type='text' value='<%= resultConvert[i]?.valor_beneficio %>'></td>
                      <td ><input name='status' class='alter-table' type='text' value='<%= resultConvert[i]?.status %>'></td>
                      <td > <input name='servico' class='alter-table' type='text' value='<%= resultConvert[i]?.servico %>'></td>
                      <td > <%= resultConvert[i]?.id %></td>
                      <td class='alter-button'> <input type='submit' value='Alterar' name='action'><input type='submit' value='Deletar' name='action'></td>
                    </form>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </section>

      
    </main>



    <main class=" animate-appear width-sidebar" id='container-admUser'>
    
      <form id='admUser' method='post' action='/admin/<%= token %>/user/<%= selectedAdmin.username %>'>
        <label for='username'>Username:
          <input type="text" id='username' name='username' value='<%= selectedAdmin.username%>' />
        </label>
  
        <label for='password'>Password:
          <input type="password" id='password' name='password' value='<%= selectedAdmin.password%>'/>
        </label>
        <span>Ao salvar você será deslogado</span>
  
        <input type='submit' value='Atualizar' />
      </form>

    </main>

<script type="text/javascript" src="/scripts/mascaras.js"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>
</body>
</html>